
<!-- <footer id="main-footer" class="py-1 bg-primary text-white text-center"> -->
        <footer id="" class="page-footer">
                <div class="container">
                  <div class="row">
                    <div class="col l6 s12">
                      <h5 class="white-text">PneumoVis</h5>
                      <p class="grey-text text-lighten-4">Visualising pneumococcus samples online</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                      <h5 class="white-text">Links</h5>
                      <ul>
                        <li><a class="grey-text text-lighten-3" href="{% url 'about'%}">About the reasearch</a></li>
                        <li><a class="grey-text text-lighten-3" href="{% url 'contact'%}">Contact the team</a></li>
                        <li><a class="grey-text text-lighten-3" href="/admin">View admin functions</a></li>
                        <li><a class="grey-text text-lighten-3" href="{% url 'browse'%}">Browse the data</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="footer-copyright">
                  <div class="container">
                  © 2019 Aa'isha Dout, Jadon Wolffs and Kiara Beilinsohn
                  <a class="grey-text text-lighten-4 right" href="www.github.com/jadonwolffs/csc3003s-capstone"><i class="fab fa-github"></i> View project source on GitHub</a>
                  </div>
                </div>
              </footer>
    <!-- Copyright &copy; -->
    <!-- <span class="year"></span> Aa'isha Dout, Jadon Wolffs and Kiara Beilinsohn -->
<!-- </footer> -->