{% extends 'base.html' %}
{% load humanize %}
<!-- Dynamic page title -->
{%block title%}| Browse strains{%endblock%}

{%block content%}
<!-- Title -->
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Recorded strains</h1>
                <p class="lead">
                    <!-- <i class="fas fa-map-marker"></i> {{listing.site}}</p> -->
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{%url 'index'%}">Home</a>
                </li>
                <li class="breadcrumb-item active">Strains
                </li>
            </ol>
    </div>
</section>
<section id="participant" class="py-4">
    <div class="container">
        <a href="{%url 'browse'%}" class="btn btn-light mb-4">Back To Browse</a>
        <div class="content" style="padding: bottom 16px;">
            {%for strain in strains%}
            <div style="padding:8px">
                <div class="card" id="card">
                    <img src="cocci.jpg" alt="" style="width:50%">
                    <div class="container" style="text-align:center; padding-bottom:1vh;">
                        <h1 style="text-align:center">{{strain.Serotype_autocolour}}</h1>
                        <!-- {{strain.dcount}} -->
                        <a href="{{strain.Serotype_autocolour}}" style="text-align:center;"
                            class="btn">More
                            information</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>
</body>

</html>
{%endblock%}