{% extends 'base.html' %}
{% load humanize %}
<!-- Dynamic page title -->
{%block title%}| Strain {{ Serotype_autocolour }}{%endblock%}


{%block content%}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Strain: {{Serotype_autocolour }}</h1>
                <p class="lead">
                    <!-- <i class="fas fa-map-marker"></i> {{listing.site}}</p> -->
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{%url 'index'%}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{%url 'strains'%}">Strains</a>
                </li>
                <li class="breadcrumb-item active">{{Serotype_autocolour }}</li>
            </ol>
    </div>
</section>
<section id="participant" class="py-4">
    <div class="container">
        <a href="{%url 'strains'%}" class="btn btn-light mb-4">Back To Strains</a>
        <div class="card" id="card">
            <img src="cocci.jpg" alt="" style="width:75%">
            <div class="container">
                <h1 style="text-align:center">{{Serotype_autocolour}}</h1>
            </div>
            <p align="center"> 
            </p>
            <p align="center">{{mess}}</p>
        </div>
    </div>
</section>



{%endblock%}