{% extends 'base.html' %}
{% load humanize %}
<!-- Dynamic page title -->
{%block title%}| Browse strains{%endblock%}

{%block content%}

<div class="content" style="padding: bottom 16px;">
    {%for strain in strains%}
    <div style="padding:8px">
        <div class="card" id="card">
            <img src="cocci.jpg" alt="" style="width:50%">
            <div class="container" style="text-align:center">
                <h1 style="text-align:center">{{strain.Serotype_autocolour}}</h1>
                <!-- {{strain.dcount}} -->
                <a href="{{strain.Serotype_autocolour}}" style="text-align:center" class="w3-bar-item w3-button">More
                    information</a>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
</body>

</html>
{%endblock%}