{% extends 'base.html' %}

{% load humanize %}
{% load static %}
{% load plotly_dash %}
<!-- Dynamic page title -->
{%block title%}| Browse page{%endblock%}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Browse the {{num_participants}} participants and {{num_swabs}} swabs and {{num_strains}} serotype combinations currently recorded</h1>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index'%}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Browse</li>
            </ol>
    </div>
</section>
<section id="participants" class="py-4">
    <div class="container">
        <a href="{%url 'index'%}" class="btn btn-light mb-4">Back home</a>
        <div class="row">
            <div class="col-md-12">
                
            <div class="card purple">
                    <div class="card-content white-text text-left">
                            <div class="card-title text-left">Browse entries</div>
                        <br>
                      <p>
                          This section of the site allows you to browse through the entries currently in the database.
                      </p>
                      <br>
                      <p>
                          If you are interested about how the data is extracted from the data there is a brief explanation in the Background tab below
                      </p>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width tabs-transparent">
                            <li class="tab"><a href="#navi" class="active">Browse</a></li>
                            <li class="tab"><a href="#back" class="">Background</a></li>
                        </ul>
                    </div>
                    <div  class="card-content card-action text-white " style="background-color:var(--akw);">
                        <div id="navi" class="active text-center" style="display: block !important;display: table;width:100%;font-size:2rem;">
                            <br>
                            <div class="child"style="display: table-cell;width:50%"><a href="{%url 'swabs'%}" class="" style="color:var(--awesome2)">Swabs</a></div>
                            <div class="child"style="display: table-cell;"><a href="{%url 'participants'%}" class="" style="color:var(--awesome2)">Participants</a></div>
                            <div class="child"style="display: table-cell;width:50%"><a href="{%url 'strains'%}" class="" style="color:var(--awesome2)">Serotypes</a></div>
                            <br>
                        </div>
                        <div id="back" style="display: none;color:var(--awesome1);" class="">
                            <div>
                                <br>
                                <h5 style>
                                    Some background info on swabs
                                </h5>
                                <p>
                                    The swabs are provided one a line in an Excel document with the initial line being a header line, naming the columns contained.
                                </p>
                                <br>
                                <h6>Clean-up:</h6>
                                <p>To make them easier to work with the document is converted into a CSV file using <a target="_blank" rel="noopener noreferrer" href="https://github.com/wireservice/csvkit" style="color:var(--awesome3);">CSVKit.</a></p>
                                <p>The data then still needs a little bit of cleaning up which is in part down using the upload app that we made to replace blank values and remove decimal points where there should not be.</p>
                                <br>
                                <h6>Import:</h6>
                                <p>A logged in admin has access to the upload app and has two ways to acces it:
                                    <li>By navigating to the <a style="margin-right:0;" href="/admin">Admin</a> page and then using the button that appears in the top right of the navbar</li>
                                    <li>By manually navigating to <a style="margin-right:0;" href="{%url 'upload'%}">'/upload'</a></li>
                                </p>
                                <p>The actual import process is detailed on the upload page itself</p>
                                <br>
                                <h6>Extraction:</h6>
                                <p>Since the data is provided as a list of swabs the actual data for the participants and strains is extracted from these entries using the same Swab model with different operations on the data that is pulled from the database.</p>
                                <br>
                                <h6>Browsing data:</h6>
                                <p>You can browse the data by clicking on one of the three links in the browse tab on this page. Swabs and participants are separated into pages as there are so many instances of them but strains are just displayed in a list because that is still managable.</p>
                            </div>
                            
                          </div>
                    </div>
                  </div>
        </div>

    </div>
</div>
</section>

{% endblock%}