{% extends 'base.html' %}

{% load humanize %}
{% load static %}
{% load plotly_dash %}
<!-- Dynamic page title -->
{%block title%}| Index page{%endblock%}

{% block content %}
<section id="showcase">
    <head>
            
    </head>
    <div style="padding: 10px;">
        <div class="" style="color:black;opacity:0.99;">
            <div style="height: 607px;" class=" card
            {%plotly_class name='map' postfix='A'%}
            ">
                {% plotly_app name="map" ratio=0.4 %}
            </div>
            <div style="height:520px" class=" card
            {%plotly_class name='incidence' postfix='A'%}
            ">
                    {% plotly_app name="incidence" ratio=0.46 %}
            </div>
            <div style="height:520px" class=" card
            {%plotly_class name='patients' postfix='A'%}
            ">
                {% plotly_app name="patients" ratio=0.46 %}
            </div>
            <div style="height:520px" class=" card
            {%plotly_class name='bubbles' postfix='A'%}
            ">
                    {% plotly_app name="bubbles" ratio=0.4 %} 
            </div>
        </div>
    </div>
</section>

{% endblock%}