{% extends 'base.html' %}

{% load humanize %}
{% load static %}
{% load plotly_dash %}
<!-- Dynamic page title -->
{%block title%}| Index page{%endblock%}

{% block content %}
<section id="showcase">
    <head>
            
    </head>
    <div style="padding: 10px;">
        <div class="" style="color:black;opacity:0.99;">
            <div style="height: 607px;" class=" card
            {%plotly_class name='SimpleExample3' postfix='A'%}
            ">
                {% plotly_app name="SimpleExample3" ratio=0.4 %}
            </div>
            <div style="height:520px" class=" card
            {%plotly_class name='SimpleExample' postfix='A'%}
            ">
                    {% plotly_app name="SimpleExample" ratio=0.46 %}
            </div>
            <div style="height:520px" class=" card
            {%plotly_class name='SimpleExample4' postfix='A'%}
            ">
                {% plotly_app name="SimpleExample4" ratio=0.46 %}
            </div>
            <div style="height:520px" class=" card
            {%plotly_class name='SimpleExample2' postfix='A'%}
            ">
                    {% plotly_app name="SimpleExample2" ratio=0.4 %} 
            </div>
        </div>
    </div>
</section>

{% endblock%}