/* Custom style sheet for PneumoVis */
/* 28104E • 6237A0 • 9754CB • DEACF5 */
:root {
  --awesome1: #28104E !important;
  --awesome2: #6237A0 !important;
  --awesome3: #9754CB !important;
  --awesome4: #DEACF5 !important;
  --aa: #fff !important;
  --bb: rgb(0, 0, 0) !important;
  --akb: #27272796 !important;
  --akw: hsla(0, 0%, 95%, 1) !important;
  --ag: rgb(219, 219, 219) !important;
  --adg:rgb(92, 92, 92) !important;
}

/* reset */
*{
  margin:0;
  padding:0;
  padding-bottom:0;
  /* font-family: "Open Sans", sans-serif !important */
}

.btn-secondary {
  color: var(--aa) !important; }

/* img {
  width: 100%; 
} */

.logo {
  width: 80px; }

.navbar {
  opacity: 0.9;
  text-transform: uppercase; }

.social a {
  margin-right: 0.4rem; }

#showcase {
  /* background: url(../img/showcase.jpg) no-repeat top center fixed/cover; */
  position: relative;
  min-height: 650px;
  color: var(--aa);
  padding-top: 6rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8); }

#services {
  background: url(../img/bacteria.jpg) no-repeat top center fixed/cover;
  min-height: 300px;
  position: relative;
  overflow: hidden; }
  #services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: var(--awesome4); }

#showcase-inner {
  background: url(../img/bacteria.jpg) no-repeat top center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: var(--awesome1); }
  #showcase-inner.showcase-search {
    min-height: 270px; }

#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
  #showcase-inner h1 {
    font-size: 40px; } }


/* Jadon */
body, h1,h2,h3,h4,h5,h6,ul,li,p,div,a,span,section,nav,ol {font-family: "Open Sans", sans-serif !important}

.breadcrumb{
  line-height: normal;
  background-color: var(--ag);
}


.card{font-family: "Roboto", sans-serif}
.card-body{font-family: "Roboto", sans-serif}
.card-header{font-family: "Roboto", sans-serif}
/* .fas{font-family: "Roboto", sans-serif} */

footer#main-footer {
    padding-top: 10px;
    padding-bottom: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#showcase {
  /* background: url(../images/loading_1_2.gif) no-repeat top center; */
    background-color: var(--aa);
    
    background-size: 100%;
    -webkit-background-size: 1400px;
    /* background-size: 200%; */
    position: relative;
    min-height: -webkit-fill-available;
    color: var(--aa);
    padding-top: 0.1rem;
}
.bg-primary {
    background-color: var(--akb) !important;
}
.nav-item:hover{
  background-color: var(--aa) !important;
}
.nav-item{
  width: 50%;
  height: 100%;
  color: var(--bb);
  text-align: center !important;
}
.nav-link:hover{
    color: var(--bb) !important;
  }
.mr-3{
  width: 100% !important;
}

.card-body {
    padding: 0;
}

.indicator {
  height: 4px !important;
}

.bot-crop { max-height: 525px; overflow: hidden; object-fit: cover;}
.bot-crop img { max-height: initial; }

.checkcheck{
  position: relative !important;
  opacity: 50 !important;
}

.btn-secondary {
  background-color: var(--awesome2);
  border-color: var(--awesome3);
}
.btn-secondary:hover {
  background-color: var(--awesome2) !important;
  border-color: var(--awesome3);/* #9C27B0;rgb(212, 57, 240); */
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: var(--awesome2);
  margin-right: 24px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
  color: var(--awesome3);
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: var(--awesome1);
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: var(--awesome1);
  will-change: left, right;
}

.tabs .tab a {
  color: var(--awesome1);
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color .28s ease, background-color .28s ease;
  transition: color .28s ease, background-color .28s ease;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: var(--awesome2);
}

.page-footer {
  padding-top: 20px;
  color: var(--aa);
  background-color: var(--awesome1);
}

.btn:hover, .btn-large:hover, .btn-small:hover {
  background-color: var(--awesome4);
}
.btn, .btn-large, .btn-small {
  text-decoration: none;
  color: var(--akw);
  background-color: var(--awesome3);
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
}

.purple.darken-1 {
  background-color: var(--awesome2) !important;
}

.btn-light {
  color: var(--akb);
  background-color: var(--akw);
  border-color: var(--akw);
}
.btn-light:hover {
  color: var(--akb);
  background-color: var(--ag);
  border-color: var(--ag);
}

nav ul li.active {
  background-color: rgba(0,0,0,0.0) !important;
}

.purple {
  background-color: var(--awesome2) !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.breadcrumb:last-child {
  color: var(--bb);
}

.w3-button{
  color:var(--aa) !important;
}
.main-svg{
  color:var(--grey) !important;
}
.Select-control{
  background-color:var(--grey) !important;
}