{% extends 'base.html' %}
{% load humanize %}
<!-- Dynamic page title -->
{%block title%}| Participant #{{participant.Particcipant_ID}}{%endblock%}
{%block content%}
<!-- Title -->
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Participant #{{participant.Particcipant_ID}}</h1>
                <p class="lead">
                    <!-- <i class="fas fa-map-marker"></i> {{listing.site}}</p> -->
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{%url 'index'%}">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{%url 'participants'%}">Participants</a>
                </li>
                <li class="breadcrumb-item active">{{participant.Particcipant_ID}}</li>
            </ol>
        </nav>
    </div>
</section>
<!-- Participant's swabs -->
<section id="participant" class="py-4">
    <div class="container">
        <a href="{%url 'participants'%}" class="btn btn-light mb-4">Back To Participants</a>
        <div class="row">
            <div class="col-md-12">
                <div class="row mb-5 fields">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary" style="color:purple !important">
                                <i class=""></i>
                                <span class="">
                                    <h3>Swabs taken from the participant</h3>
                                </span>
                            </li>
                            {% for swab in swabs %}
                            <li class="list-group-item text-secondary" style="color:purple !important">
                                <i class="fas fa-id-card"></i> Swab barcode:
                                <span class="float-right">
                                    <a href="/swabs/{{swab.Barcode}}">{{swab.Barcode}}</a>
                                </span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary" style="color:purple !important">
                                <i class=""></i>
                                <span class="">
                                    <h3>Details of the participant:</h3>
                                </span>
                            </li>
                            <li class="list-group-item text-secondary" style="color:purple !important">
                                <i class="fas fa-id-card"></i> Participant ID:
                                <span class="float-right">{{participant.Particcipant_ID}}</span>
                            </li>
                            <li class="list-group-item text-secondary" style="color:purple !important">
                                <i class="fas fa-tree"></i> NPA A4 Growth:
                                <span class="float-right">{{swabs.0.npa_a4_growth}}</span>
                            </li>
                            <li class="list-group-item text-secondary" style="color:purple !important">
                                <i class="fas fa-check-square"></i> Presence of Pneumococcus:
                                <span class="float-right">{{swabs.0.Presence_of_Pneumococcus}}</span>
                            </li>
                            <li class="list-group-item text-secondary" style="color:purple !important">
                                <i class="fas fa-venus-mars"></i> Sex:
                                <span class="float-right">{{swabs.0.sex}}</span>
                            </li>
                            <li class="list-group-item text-secondary" style="color:purple !important">
                                <i class="fas fa-clock"></i> First week:
                                <span class="float-right">{{swabs.0.Week}}</span>
                            </li>
                            <li class="list-group-item text-secondary" style="color:purple !important">
                                <i class="fas fa-calendar"></i> Date of birth:
                                <span class="float-right">{{swabs.0.dob}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}