{% extends 'base.html' %}
{% load humanize %}
{% load static %}
<!-- Dynamic page title -->
{%block title%}| Participants page{%endblock%}
{%block content%}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">Browse the {{count}} participants currenlty recorded</h1>
                <p class="lead">Clicking on a participant ID will take you to the details of that participant</p>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index'%}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active"> Browse participants</li>
            </ol>
        </nav>
    </div>
</section>

<!-- participants -->
<section id="participants" class="py-4">
    <div class="container">
        <div class="row">
            {% if participants %}
            {% for participant in participants %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card participant-preview text-center" style="padding:5px;">
                    <p class="text-center">
                        <li style="display:contents">
                            <div>
                                <!-- <img src="{%static 'img/buds.png'%}" alt="Cotton-bud" style="height:auto;width:18px;"> -->
                                Participant
                                <a href="{{participant.Particcipant_ID}}"
                                    style="display: contents;padding:5px;">#{{participant.Particcipant_ID}}</a>
                                <!-- - {{participant.Particcipant_ID}} -->
                            </div>
                        </li>
                    </p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-md-1">
                <p>No participants available</p>
            </div>
            {% endif %}

        </div>

        <div class="row">
            <!-- Icon made by Freepik from www.flaticon.com -->
            <div class="col-md-12">
                {% if participants.has_other_pages %}
                <ul class="pagination">
                    {% if participants.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{1}}">
                            first
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="?page={{1}}">
                            first
                        </a>
                    </li>
                    {% endif %}
                    {% if participants.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{participants.previous_page_number}}">
                            previous
                        </a>
                    </li>
                    {% endif %}
                    {% for pg in page_range %}
                    {% if participants.number == pg %}
                    <li class="page-item active">
                        <a href="?page={{pg}}" class="page-link">
                            {{pg|apnumber}}
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a href="?page={{pg}}" class="page-link">
                            {{pg|apnumber}}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if participants.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{participants.next_page_number}}">
                            next
                        </a>
                    </li>
                    {% endif %}
                    {% if participants.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{end}}">
                            last
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="?page={{end}}">
                            last
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{%endblock%}