{% load static%}
<!DOCTYPE html> 
<link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}" />
<html lang="en"
style="height: 100%;
margin: 0;"
>
    <!-- Head -->
    {% include 'partials/_head.html' %}
    <body style="background-color: var(--aa);"
    style="height: 100%;
    margin: 0;"
    >
    <!-- Top bar -->
    <!-- Alerts -->
    {%include 'partials/_alerts.html'%}
    <!-- Nav bar -->
    {%include 'partials/_navbar.html'%}
    <!-- Main content -->
    <div class="wrapper"
    style="min-height: 100vh;">
    {% block content %} {% endblock %}
    </div>
    <!-- Footer -->
    {% include 'partials/_footer.html' %}
    <!-- Scripts -->
    {% include 'partials/_scripts.html' %}
</body>
</html>