{% load static%}
<!DOCTYPE html> 
<link rel="shortcut icon" type="image/ico" href="{% static 'favicon.ico' %}" />
<html lang="en">
    <!-- Head -->
    {% include 'partials/_head.html' %}
<body>
    <!-- Top bar -->
    {% include 'partials/_topbar.html' %}
    <!-- Alerts -->
    {%include 'partials/_alerts.html'%}
    <!-- Nav bar -->
    {% include 'partials/_navbar.html' %}
    <!-- Main content -->
    {% block content %} {% endblock %}
    <!-- Footer -->
    {% include 'partials/_footer.html' %}
    <!-- Scripts -->
    {% include 'partials/_scripts.html' %}
</body>
</html>